extends ./layout.jade

block content
  <!-- - var n = 0
  while n < 4
    .trailElement(id="trail_"+n)
    - n ++
  script(src='javascripts/mouse-trail.js') -->
  a#index
  a#blog

  .main.full-height
    #index.panel
      .title 
        h1= title

      .social-links
        each link, name in links
          a.menu-item(href=link)
            i.fa.fa-2x(class="fa-#{name}")

      a.blog-link(href="#blog")
        read my blog
        i.fa.fa-angle-double-down

  
    #blog.panel
      a.back(href="#index")
        back
        i.fa.fa-arrow-circle-o-up
      .blogs 
        each blog in blogs
          .blog
            h5= moment(blog.created_at).format('Do MMM YYYY')
            h3= blog.name
            .body
              !=blog.body


  script.
    function heightChange(){
      var height = window.innerHeight;
      document.getElementById('index').setAttribute("style","height:" +height+"px");
    }

    window.onload = heightChange;

    window.onresize = heightChange;


